.robot-loader {
  width: 120px;
  height: 120px;
  margin: 2rem auto;
  background: url('../../../../public/robotrex.svg') no-repeat center;
  background-size: contain;
  display: inline-block;
  animation: spin-once 1s ease-in-out forwards, pulse 1s ease-in-out 1s infinite alternate;
}


@keyframes spin-once {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@keyframes pulse {
  from { transform: scale(1); }
  to { transform: scale(1.1); }
}
